body {
    font-family: "Delius Swash Caps", Arial, Helvetica, sans-serif;
}

i {
    font-size: 2rem;
}

.bg-light-custom {
    background-color: #fee1e1;
    color: #9298ba;
}

.bg-dark-custom {
    background-color: #9298ba;
    color: #fee1e1;
}

.card-body ul{
    list-style: none;
}

.card-img-overlay h4 {
    font-weight: 800;
}

.border-light-custom {
    border-color: #fee1e1;
}

.max-custom {
    max-width: 540px;
}

.btn-custom {
    color: #fee1e1;
    background-color: #9298ba;
}

.btn-custom:hover {
    background-color: #8ed3e8;
}

.text-custom {
    color:#9298ba;
}

.text-custom-light {
    color: #fee1e1;
}

.h2-no-margin{
    margin-bottom: 0;
}

.site-header {
	line-height: 1;
    background-color: #fee1e1;
    color: #9298ba;
}

.site-header-logo {
	font-family: "Windsong", Arial, Helvetica, sans-serif;
	font-size: 4rem;
    font-weight: 500;
    text-decoration: none;
    color: #9298ba;
    
}

.site-header-logo:hover{
    text-decoration: none;
    color: #9298ba
}

#mainNavbar {
    font-family: "Delius Swash Caps", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#mainNavbar .navbar-brand {
    color: #fee1e1;
    font-size: 1.25rem;
}

#mainNavbar .navbar-brand:hover {
    color: #8ed3e8;
    font-size: 1.25rem;
}

#mainNavbar .nav-link {
    color: #fee1e1;
    font-size: 1.25rem;
}

#mainNavbar .nav-link:hover {
    color: #8ed3e8;
}

.img-shadow {
    box-shadow: 10px 10px 5px #9298ba;
    -moz-box-shadow: 10px 10px 5px #9298ba;
    -webkit-box-shadow: 10px 10px 5px #9298ba;
    -khtml-box-shadow: 10px 10px 5px #9298ba;
}

.hes-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    columns: 4;
  }

  .hes-gallery img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 2px 2px 6px #9298ba;
  }
  
  .hes-gallery img:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 9px #fee1e1;
  }

  @media (max-width:550px) {
    .site-header-logo {
        font-size: 2.5rem;
    }   
}

@media (max-width: 800px) {
    main {
      width: 100%;
    }
    header img {
      width: 80%;
      object-fit: contain;
    }
    .hes-gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 500px) {
    .hes-gallery {
      grid-template-columns: 1fr 1fr;
    }
  }


  
